In [4]:
import pandas as pd

In [5]:
file = "data/dataset.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,50045803,PUNJABI KABAB AND GYRO,Queens,10803,101ST AVE,11416,7187099919,Indian,2/2/2019,Violations were cited in the following area(s).,...,9/10/2020,Cycle Inspection / Re-inspection,40.687314,-73.835288,409,28,11000,4197917,4094100035,QN54
1,50060589,EL MARIACHI RESTAURNT,Queens,6712,ROOSEVELT AVE,11377,7183356744,Mexican,11/16/2018,Violations were cited in the following area(s).,...,9/10/2020,Cycle Inspection / Re-inspection,40.746152,-73.897899,402,26,26300,4000000,4012990027,QN63
2,41682808,JOSIE'S BAR,Manhattan,520,EAST 6 STREET,10009,2122289532,American,2/7/2018,Violations were cited in the following area(s).,...,9/10/2020,Cycle Inspection / Initial Inspection,40.725172,-73.983285,103,2,3200,1005052,1004010020,MN22
3,40483697,LUNT FONTANNE THEATER,Manhattan,205,WEST 46 STREET,10036,2123544624,American,5/3/2017,Violations were cited in the following area(s).,...,9/10/2020,Cycle Inspection / Initial Inspection,40.758891,-73.985796,105,3,12500,1024739,1010180020,MN17
4,50059948,ESTAMINET,Brooklyn,107A,7 AVENUE,11215,9174994191,Café/Coffee/Tea,3/6/2019,Violations were cited in the following area(s).,...,9/10/2020,Cycle Inspection / Initial Inspection,40.673914,-73.975814,306,39,15700,3024679,3010650069,BK37

In [ ]:
df.to_html(classes = "table table-bordered table-striped", index=False)