In [2]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import csv
from bs4 import BeautifulSoup
import string
from mpl_toolkits.mplot3d import Axes3D 
import matplotlib.pyplot as plt
from collections import Counter
import pymongo
from pymongo import MongoClient

In [3]:
from flask import Flask, render_template, redirect
import json

In [4]:
NYC_restaurant_csv = "assets/data/NYCRestaurant_Inspection.csv"
NYC_restaurant_df = pd.read_csv(NYC_restaurant_csv,encoding="utf8")

In [5]:
NYC_restaurant_df.groupby('SCORE').mean()

,CAMIS,ZIPCODE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL
SCORE,,,,,,,,,
-1.0,4.736078e+07,10715.777095,40.140387,-72.870343,259.880401,19.951389,32729.405093,2.625068e+06,2.518119e+09
0.0,4.690073e+07,10685.234799,38.551032,-70.003542,237.779817,19.766710,26992.465269,2.412610e+06,2.200746e+09
2.0,4.633004e+07,10668.176322,39.411943,-71.560954,245.931379,20.017421,27637.940302,2.480504e+06,2.318080e+09
3.0,4.599589e+07,10664.644894,39.827626,-72.301872,245.200000,19.660185,29585.583796,2.477135e+06,2.342518e+09
4.0,4.629761e+07,10678.587444,39.889720,-72.418598,245.949989,19.772799,28824.031229,2.488154e+06,2.363596e+09
...,...,...,...,...,...,...,...,...,...
150.0,5.008362e+07,11218.000000,40.647775,-73.971268,312.000000,39.000000,50400.000000,3.256668e+06,3.053310e+09
151.0,5.005037e+07,11224.000000,40.574735,-73.979032,313.000000,47.000000,35200.000000,3.245150e+06,3.086960e+09
153.0,5.009075e+07,10013.000000,40.715626,-73.996454,103.000000,1.000000,2900.000000,1.002432e+06,1.002020e+09
157.0,5.009034e+07,11214.000000,40.602547,-74.003652,311.000000,43.000000,28200.000000,3.168722e+06,3.064390e+09
164.0,5.008225e+07,10955.350000,40.782532,-73.888625,312.100000,19.200000,25290.000000,3.125179e+06,3.120574e+09

In [6]:
NYC_restaurant_df.groupby(['CUISINE DESCRIPTION', 'ZIPCODE'], as_index=True)['SCORE'].mean().unstack().iplot(kind='bar', mode='group', title='Average Customer Satisfaction Score by Bourough')

AttributeError: 'DataFrame' object has no attribute 'iplot'

In [7]:
NYC_restaurant_df = pd.DataFrame(
       columns=["CUISINE DESCRIPTION", "ZIPCODE"]
#    Average score/grade by cuisine type
#Average score/grade by borough

SyntaxError: unexpected EOF while parsing (<ipython-input-7-7f4fb9aa9ef8>, line 4)

In [8]:
df = pd.DataFrame(
    [["a", "b"], ["c", "d"]],
    index=["row 1", "row 2"],
    columns=["col 1", "col 2"],
)

In [11]:
# Average score by zipcode
zipcode_df=NYC_restaurant_df.groupby('ZIPCODE', as_index=True).mean()
zipcode_df

,CAMIS,SCORE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL
ZIPCODE,,,,,,,,,
10000.0,4.442621e+07,14.000000,40.782289,-73.965194,164.000000,6.000000,14300.000000,1.000000e+06,1.011110e+09
10001.0,4.657373e+07,19.799711,40.749016,-73.992403,104.677889,3.231782,9126.170684,1.028884e+06,1.002518e+09
10002.0,4.723495e+07,22.504798,40.717906,-73.990306,103.000000,1.049482,1863.051066,1.018410e+06,9.886069e+08
10003.0,4.576224e+07,20.320081,40.731097,-73.988581,103.463211,1.960784,4538.050670,1.023445e+06,1.005898e+09
10004.0,4.556301e+07,18.943284,40.704137,-74.011809,101.000000,1.000000,1994.127334,1.024473e+06,1.000171e+09
...,...,...,...,...,...,...,...,...,...
11693.0,4.701672e+07,18.405896,40.588735,-73.815453,414.000000,32.000000,95671.626087,4.330533e+06,4.115210e+09
11694.0,4.604991e+07,17.793503,40.580624,-73.836942,414.000000,32.000000,93652.425339,4.321156e+06,4.048917e+09
11697.0,4.111533e+07,13.923077,40.562011,-73.913728,414.000000,32.000000,91601.000000,4.514318e+06,4.163500e+09
12345.0,5.004897e+07,11.222222,40.817722,-73.941941,110.000000,9.000000,23000.000000,1.060295e+06,1.020240e+09
30339.0,5.006431e+07,13.142857,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Average score by cusine 
cuisine_df=NYC_restaurant_df.groupby("CUISINE DESCRIPTION", as_index=True).mean()
cuisine_df

,CAMIS,ZIPCODE,SCORE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL
CUISINE DESCRIPTION,,,,,,,,,,
Afghan,4.576496e+07,10932.178082,18.813397,40.722853,-73.905161,303.922374,22.205479,52558.255708,3.061448e+06,3.011937e+09
African,4.700496e+07,10632.671546,27.762606,37.864152,-68.657609,223.522248,20.788642,27429.465457,2.226126e+06,2.035157e+09
American,4.531139e+07,10538.043689,18.917432,39.726317,-72.135358,219.471241,16.976645,22453.800226,2.212524e+06,2.094616e+09
Armenian,4.678187e+07,10480.638436,18.618243,40.739366,-73.954046,197.156352,15.690554,24907.553746,1.996480e+06,1.919305e+09
Asian,4.835057e+07,10690.666718,21.876633,40.184740,-72.964996,251.392857,18.531385,30124.132035,2.544491e+06,2.425013e+09
...,...,...,...,...,...,...,...,...,...,...
Tex-Mex,4.567753e+07,10671.753108,18.048071,39.240805,-71.244050,244.917703,20.267614,30357.534044,2.478894e+06,2.326011e+09
Thai,4.757234e+07,10608.714649,21.695994,40.547928,-73.622773,224.113232,17.574518,21598.046347,2.255430e+06,2.187415e+09
Turkish,4.749457e+07,10633.163462,21.414378,39.747051,-72.222752,229.707532,21.741186,29447.038462,2.321075e+06,2.181949e+09
Vegetarian,4.733455e+07,10571.653039,21.380464,39.237898,-71.275098,207.143088,17.082840,25932.882733,2.094235e+06,1.964882e+09
Vietnamese/Cambodian/Malaysia,4.644630e+07,10636.077547,22.464396,40.307627,-73.217523,226.864673,17.588444,26188.750127,2.326101e+06,2.167113e+09