In [3]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import csv
from bs4 import BeautifulSoup
import string
from mpl_toolkits.mplot3d import Axes3D 
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
from flask import Flask, render_template, redirect
import json

In [5]:
NYC_restaurant_csv = "DOHMH_New_York_City_Restaurant_Inspection_Results (consolidated).csv"
NYC_restaurant_df = pd.read_csv(NYC_restaurant_csv,encoding="utf8")

In [10]:
NYC_restaurant_df.groupby(['CUISINE DESCRIPTION', 'ZIPCODE'], as_index=True)['SCORE'].mean()

CUISINE DESCRIPTION  ZIPCODE
American             10001      14.819048
                     10002      11.476190
                     10003      11.178571
                     10004       9.882353
                     10005      10.000000
                                  ...
Thai                 11373      16.857143
                     11374      13.000000
                     11377      10.600000
                     11379       8.000000
                     11432      27.000000
Name: SCORE, Length: 878, dtype: float64

In [12]:
# Average score by zipcode
zipcode_df=NYC_restaurant_df.groupby('ZIPCODE', as_index=True)['SCORE'].mean()
zipcode_df

ZIPCODE
10000    12.000000
10001    13.475610
10002    13.700000
10003    10.552239
10004     9.543478
           ...
11691     2.000000
11692     7.000000
11693     5.000000
11694    12.375000
11697    10.000000
Name: SCORE, Length: 192, dtype: float64

In [13]:
# Average score by cusine 
cuisine_df=NYC_restaurant_df.groupby("CUISINE DESCRIPTION", as_index=True)['SCORE'].mean()
cuisine_df

CUISINE DESCRIPTION
American         12.389965
Brazilian        13.562500
Chinese          12.246859
French           10.322314
Greek            11.798077
Indian           15.977169
Italian          12.262590
Japanese         12.183521
Korean           18.623810
Mediterranean    10.605442
Mexican          12.243243
Spanish          13.793388
Thai             12.347222
Name: SCORE, dtype: float64